---
import offersList from '../../utils/offersList.json';
import { Icon } from 'astro-icon/components';
---

<div class='offer-wrapper'>
  {
    offersList.map((offers) => (
      <div class='offer'>
        <img class='offer-img' src={offers.img} alt={'fire services'} />
        <div class='wrapper'>
          <h3 class='offer-title'>{offers.title}</h3>
          <p class='offer-text'>{offers.text}</p>
          <a class='offer-link' href={offers.href}>
            {offers.link}
            <Icon name={offers.icon} width={20} height={20} />
          </a>
        </div>
      </div>
    ))
  }
</div>

<style>
  .wrapper {
    padding-block: 15px;
    padding-inline: 15px;
    display: flex;
    flex-direction: column;
  }
  .offer-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    justify-items: center;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 1440px;
    margin-bottom: 50px;
  }
  .offer {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 19px -17px rgb(136, 135, 135);
    align-items: flex-start;
    font-family: var(--main-font);
    border: none;
    word-break: break-word;
  }
  .offer-img {
    width: 100%;
  }
  .offer-title {
    color: var(--base-black);
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-block: 10px;
    width: 100%;
    flex: 1;
  }
  .offer-text {
    color: var(--sub-black);
    line-height: normal;
    font-size: 0.9rem;
    flex: 1;
    /* min-height: 110px; */
  }
  .offer-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    gap: 4px;
    width: 100%;
    margin-bottom: 10px;
    color: var(--base-gold);
    transition: 0.2s all ease-in;
  }
  .offer-link:hover {
    gap: 10px;
    color: var(--base-red);
  }
  @media (max-width: 600px) {
    .offer {
      width: 100%;
    }
  }
  @media (min-width: 900px) {
    .offer {
      width: 300px;
      margin-bottom: 100px;
    }
    .offer-wrapper {
      gap: 40px;
      margin: auto;
      justify-content: center;
    }
    .wrapper {
      gap: 10px;
      margin-top: 0;
    }
    .offer-title {
      font-size: 1rem;
      margin: 0;
    }
    .offer-link {
      font-size: 0.7rem;
      
    }
    .offer-text {
      font-size: 0.8rem;
    }
  }
</style>
